@use './utils.scss' as *;

:root {
  --color-primary-dark-purple: #4747cc;
  --color-primary-purple: #5c5ce5;
  --color-primary-light-purple: #e8e8fc;
  --color-primary-pressed-purple: #001f9a;

  --color-table-level-4: #f2f2ff;
  --color-table-level-2: #e3e3ff;
  --color-table-level-1: #dbdbff;

  --color-secondary-white: #ffffff;

  --color-background-purple: #f7f7fc;
  --color-gradient-purple: #5c5ce5;

  --color-stroke-red: #f26d6d;
  --color-status-red: #e54545;

  // The following constants can be stored in scss variables.
  // It's good to keep colors in CSS variables, because in case of dark theme
  // it will be easy to replace colors.
  // I guess the typography, transition, opacity and other stuff won't be changed
  // so it's better to keep them in SCSS variable to reduce CSS runtime.

  --border-radius-100: #{pxToRem(4)};
  --opacity-disabled: 0.3;
  --transition: 100ms ease-in-out;

  // typography

  --typography-s: #{pxToRem(14)};
  --typography-s-lh: #{pxToRem(20)};
  --typography-l: #{pxToRem(16)};
  // To look good line-height should be the same as the icon size
  --typography-l-lh: #{pxToRem(24)};
  --typography-semibold: 600;
}
